In [38]:
import tensorflow as tf
from tensorflow import keras

In [39]:
from tensorflow.keras.layers import ReLU,MaxPooling1D,Softmax,\
Bidirectional,LSTM,Conv2D,LeakyReLU,ELU,PReLU,Dense,Dropout
from tensorflow.keras.models import Sequential

In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [41]:
df=pd.read_csv('Churn_Modelling.csv')

In [42]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [43]:
df.isna().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [44]:
X=df.iloc[:,3:13]
y=df.iloc[:,13]

In [45]:
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [46]:
X=pd.get_dummies(X,drop_first=True)

In [47]:
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0

In [48]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=23)

In [49]:
from sklearn.preprocessing import StandardScaler

In [50]:
sc=StandardScaler()

In [51]:
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [52]:
classifire=Sequential()

In [53]:
classifire.add(Dense(units=20,kernel_initializer='he_normal',activation='relu',input_dim=11))

In [54]:
classifire.add(Dense(units=20,kernel_initializer='he_normal',activation='relu'))
classifire.add(Dense(units=15,kernel_initializer='he_normal',activation='relu'))

In [55]:
classifire.add(Dense(units=1,kernel_initializer='glorot_uniform',activation='sigmoid'))

In [56]:
classifire.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [57]:
history=classifire.fit(X_train,y_train,validation_split=0.33,batch_size=10,epochs=100)

Epoch 1/100
503/503 [==============================] - 8s 11ms/step - loss: 0.4774 - accuracy: 0.7964 - val_loss: 0.4385 - val_accuracy: 0.8082
Epoch 2/100
503/503 [==============================] - 4s 9ms/step - loss: 0.4363 - accuracy: 0.8057 - val_loss: 0.4120 - val_accuracy: 0.8203
Epoch 3/100
503/503 [==============================] - 5s 9ms/step - loss: 0.4127 - accuracy: 0.8161 - val_loss: 0.3931 - val_accuracy: 0.8344
Epoch 4/100
503/503 [==============================] - 4s 8ms/step - loss: 0.3943 - accuracy: 0.8310 - val_loss: 0.3785 - val_accuracy: 0.8421
Epoch 5/100
503/503 [==============================] - 4s 8ms/step - loss: 0.3795 - accuracy: 0.8447 - val_loss: 0.3719 - val_accuracy: 0.8477
Epoch 6/100
503/503 [==============================] - 4s 8ms/step - loss: 0.3697 - accuracy: 0.8479 - val_loss: 0.3698 - val_accuracy: 0.8485
Epoch 7/100
503/503 [==============================] - 4s 8ms/step - loss: 0.3608 - accuracy: 0.8545 - val_loss: 0.3613 - val_accuracy: 0.8566
Epoch 8/100
503/503 [==============================] - 4s 8ms/step - loss: 0.3539 - accuracy: 0.8547 - val_loss: 0.3637 - val_accuracy: 0.8506
Epoch 9/100
503/503 [==============================] - 4s 8ms/step - loss: 0.3500 - accuracy: 0.8581 - val_loss: 0.3602 - val_accuracy: 0.8526
Epoch 10/100
503/503 [==============================] - 4s 9ms/step - loss: 0.3470 - accuracy: 0.8597 - val_loss: 0.3601 - val_accuracy: 0.8530
Epoch 11/100
503/503 [==============================] - 4s 8ms/step - loss: 0.3434 - accuracy: 0.8585 - val_loss: 0.3549 - val_accuracy: 0.8530
Epoch 12/100
503/503 [==============================] - 4s 8ms/step - loss: 0.3384 - accuracy: 0.8627 - val_loss: 0.3583 - val_accuracy: 0.8558
Epoch 13/100
503/503 [==============================] - 4s 8ms/step - loss: 0.3387 - accuracy: 0.8603 - val_loss: 0.3555 - val_accuracy: 0.8530
Epoch 14/100
503/503 [==============================] - 4s 8ms/step - loss: 0.3344 - accuracy: 0.8641 - val_loss: 0.3594 - val_accuracy: 0.8538
Epoch 15/100
503/503 [==============================] - 5s 10ms/step - loss: 0.3324 - accuracy: 0.8631 - val_loss: 0.3587 - val_accuracy: 0.8502
Epoch 16/100
503/503 [==============================] - 5s 10ms/step - loss: 0.3305 - accuracy: 0.8623 - val_loss: 0.3576 - val_accuracy: 0.8514
Epoch 17/100
503/503 [==============================] - 4s 8ms/step - loss: 0.3289 - accuracy: 0.8658 - val_loss: 0.3594 - val_accuracy: 0.8526
Epoch 18/100
503/503 [==============================] - 4s 9ms/step - loss: 0.3247 - accuracy: 0.8648 - val_loss: 0.3697 - val_accuracy: 0.8485
Epoch 19/100
503/503 [==============================] - 4s 8ms/step - loss: 0.3236 - accuracy: 0.8658 - val_loss: 0.3578 - val_accuracy: 0.8562
Epoch 20/100
503/503 [==============================] - 5s 10ms/step - loss: 0.3215 - accuracy: 0.8694 - val_loss: 0.3575 - val_accuracy: 0.8494
Epoch 21/100
503/503 [==============================] - 4s 9ms/step - loss: 0.3177 - accuracy: 0.8694 - val_loss: 0.3696 - val_accuracy: 0.8599
Epoch 22/100
503/503 [==============================] - 5s 9ms/step - loss: 0.3186 - accuracy: 0.8678 - val_loss: 0.3592 - val_accuracy: 0.8526
Epoch 23/100
503/503 [==============================] - 4s 9ms/step - loss: 0.3156 - accuracy: 0.8678 - val_loss: 0.3611 - val_accuracy: 0.8514
Epoch 24/100
503/503 [==============================] - 4s 8ms/step - loss: 0.3135 - accuracy: 0.8684 - val_loss: 0.3655 - val_accuracy: 0.8473
Epoch 25/100
503/503 [==============================] - 4s 8ms/step - loss: 0.3118 - accuracy: 0.8710 - val_loss: 0.3708 - val_accuracy: 0.8348
Epoch 26/100
503/503 [==============================] - 4s 9ms/step - loss: 0.3088 - accuracy: 0.8696 - val_loss: 0.3667 - val_accuracy: 0.8449
Epoch 27/100
503/503 [==============================] - 4s 8ms/step - loss: 0.3087 - accuracy: 0.8714 - val_loss: 0.3689 - val_accuracy: 0.8417
Epoch 28/100
503/503 [==============================] - 4s 8ms/step - loss: 0.3064 - accuracy: 0.8700 - val_loss: 0.3669 - val_accuracy: 0.8550
Epoch 29/100
503/503 [==============================] - 4s 8ms/step - loss: 0.3047 - accuracy: 0.8720 - val_loss: 0.3710 - val_accuracy: 0.8417
Epoch 30/100
503/503 [==============================] - 5s 10ms/step - loss: 0.3029 - accuracy: 0.8724 - val_loss: 0.3757 - val_accuracy: 0.8429
Epoch 31/100
503/503 [==============================] - 4s 8ms/step - loss: 0.3009 - accuracy: 0.8756 - val_loss: 0.3777 - val_accuracy: 0.8409
Epoch 32/100
503/503 [==============================] - 4s 9ms/step - loss: 0.2991 - accuracy: 0.8766 - val_loss: 0.3737 - val_accuracy: 0.8502
Epoch 33/100
503/503 [==============================] - 4s 8ms/step - loss: 0.2974 - accuracy: 0.8772 - val_loss: 0.3826 - val_accuracy: 0.8364
Epoch 34/100
503/503 [==============================] - 4s 8ms/step - loss: 0.2976 - accuracy: 0.8762 - val_loss: 0.3772 - val_accuracy: 0.8477
Epoch 35/100
503/503 [==============================] - 4s 9ms/step - loss: 0.2960 - accuracy: 0.8778 - val_loss: 0.3742 - val_accuracy: 0.8485
Epoch 36/100
503/503 [==============================] - 4s 8ms/step - loss: 0.2935 - accuracy: 0.8778 - val_loss: 0.3849 - val_accuracy: 0.8316
Epoch 37/100
503/503 [==============================] - 4s 8ms/step - loss: 0.2942 - accuracy: 0.8782 - val_loss: 0.3860 - val_accuracy: 0.8409
Epoch 38/100
503/503 [==============================] - 4s 9ms/step - loss: 0.2918 - accuracy: 0.8776 - val_loss: 0.3770 - val_accuracy: 0.8413
Epoch 39/100
503/503 [==============================] - 4s 8ms/step - loss: 0.2907 - accuracy: 0.8762 - val_loss: 0.3752 - val_accuracy: 0.8522
Epoch 40/100
503/503 [==============================] - 4s 8ms/step - loss: 0.2880 - accuracy: 0.8774 - val_loss: 0.3809 - val_accuracy: 0.8417
Epoch 41/100
503/503 [==============================] - 5s 10ms/step - loss: 0.2885 - accuracy: 0.8774 - val_loss: 0.3807 - val_accuracy: 0.8469
Epoch 42/100
503/503 [==============================] - 5s 10ms/step - loss: 0.2867 - accuracy: 0.8784 - val_loss: 0.3880 - val_accuracy: 0.8360
Epoch 43/100
503/503 [==============================] - 7s 13ms/step - loss: 0.2856 - accuracy: 0.8784 - val_loss: 0.3790 - val_accuracy: 0.8465
Epoch 44/100
503/503 [==============================] - 5s 9ms/step - loss: 0.2850 - accuracy: 0.8768 - val_loss: 0.3885 - val_accuracy: 0.8389
Epoch 45/100
503/503 [==============================] - 5s 10ms/step - loss: 0.2835 - accuracy: 0.8772 - val_loss: 0.3860 - val_accuracy: 0.8489
Epoch 46/100
503/503 [==============================] - 4s 8ms/step - loss: 0.2816 - accuracy: 0.8790 - val_loss: 0.3901 - val_accuracy: 0.8441
Epoch 47/100
503/503 [==============================] - 4s 8ms/step - loss: 0.2835 - accuracy: 0.8820 - val_loss: 0.3944 - val_accuracy: 0.8344
Epoch 48/100
503/503 [==============================] - 4s 8ms/step - loss: 0.2814 - accuracy: 0.8806 - val_loss: 0.3888 - val_accuracy: 0.8417
Epoch 49/100
503/503 [==============================] - 4s 8ms/step - loss: 0.2797 - accuracy: 0.8830 - val_loss: 0.3916 - val_accuracy: 0.8485
Epoch 50/100
503/503 [==============================] - 4s 8ms/step - loss: 0.2794 - accuracy: 0.8832 - val_loss: 0.3878 - val_accuracy: 0.8485
Epoch 51/100
503/503 [==============================] - 4s 8ms/step - loss: 0.2784 - accuracy: 0.8822 - val_loss: 0.3932 - val_accuracy: 0.8417
Epoch 52/100
503/503 [==============================] - 4s 8ms/step - loss: 0.2777 - accuracy: 0.8824 - val_loss: 0.4011 - val_accuracy: 0.8445
Epoch 53/100
503/503 [==============================] - 5s 10ms/step - loss: 0.2771 - accuracy: 0.8802 - val_loss: 0.3942 - val_accuracy: 0.8336
Epoch 54/100
503/503 [==============================] - 4s 9ms/step - loss: 0.2745 - accuracy: 0.8857 - val_loss: 0.3896 - val_accuracy: 0.8449
Epoch 55/100
503/503 [==============================] - 4s 8ms/step - loss: 0.2737 - accuracy: 0.8810 - val_loss: 0.4018 - val_accuracy: 0.8296
Epoch 56/100
503/503 [==============================] - 4s 8ms/step - loss: 0.2738 - accuracy: 0.8855 - val_loss: 0.4016 - val_accuracy: 0.8320
Epoch 57/100
503/503 [==============================] - 6s 11ms/step - loss: 0.2724 - accuracy: 0.8844 - val_loss: 0.4071 - val_accuracy: 0.8413

Epoch 58/100
503/503 [==============================] - 4s 8ms/step - loss: 0.2712 - accuracy: 0.8846 - val_loss: 0.4050 - val_accuracy: 0.8267
Epoch 59/100
503/503 [==============================] - 6s 12ms/step - loss: 0.2695 - accuracy: 0.8857 - val_loss: 0.4148 - val_accuracy: 0.8437
Epoch 60/100
503/503 [==============================] - 4s 9ms/step - loss: 0.2692 - accuracy: 0.8824 - val_loss: 0.4035 - val_accuracy: 0.8401
Epoch 61/100
503/503 [==============================] - 3s 7ms/step - loss: 0.2682 - accuracy: 0.8838 - val_loss: 0.3987 - val_accuracy: 0.8340
Epoch 62/100
503/503 [==============================] - 4s 7ms/step - loss: 0.2685 - accuracy: 0.8854 - val_loss: 0.4108 - val_accuracy: 0.8465
Epoch 63/100
503/503 [==============================] - 3s 7ms/step - loss: 0.2654 - accuracy: 0.8859 - val_loss: 0.4106 - val_accuracy: 0.8393
Epoch 64/100
503/503 [==============================] - 3s 6ms/step - loss: 0.2634 - accuracy: 0.8859 - val_loss: 0.4153 - val_accuracy: 0.8457
Epoch 65/100
503/503 [==============================] - 3s 6ms/step - loss: 0.2648 - accuracy: 0.8869 - val_loss: 0.4113 - val_accuracy: 0.8417
Epoch 66/100
503/503 [==============================] - 3s 6ms/step - loss: 0.2646 - accuracy: 0.8850 - val_loss: 0.4062 - val_accuracy: 0.8445
Epoch 67/100
503/503 [==============================] - 3s 6ms/step - loss: 0.2614 - accuracy: 0.8903 - val_loss: 0.4266 - val_accuracy: 0.8255
Epoch 68/100
503/503 [==============================] - 3s 6ms/step - loss: 0.2625 - accuracy: 0.8881 - val_loss: 0.4139 - val_accuracy: 0.8360
Epoch 69/100
503/503 [==============================] - 3s 7ms/step - loss: 0.2601 - accuracy: 0.8893 - val_loss: 0.4168 - val_accuracy: 0.8393
Epoch 70/100
503/503 [==============================] - 3s 7ms/step - loss: 0.2612 - accuracy: 0.8887 - val_loss: 0.4095 - val_accuracy: 0.8413
Epoch 71/100
503/503 [==============================] - 3s 7ms/step - loss: 0.2574 - accuracy: 0.8907 - val_loss: 0.4177 - val_accuracy: 0.8433
Epoch 72/100
503/503 [==============================] - 4s 8ms/step - loss: 0.2581 - accuracy: 0.8903 - val_loss: 0.4303 - val_accuracy: 0.8239
Epoch 73/100
503/503 [==============================] - 4s 9ms/step - loss: 0.2589 - accuracy: 0.8897 - val_loss: 0.4334 - val_accuracy: 0.8195
Epoch 74/100
503/503 [==============================] - 3s 6ms/step - loss: 0.2557 - accuracy: 0.8905 - val_loss: 0.4238 - val_accuracy: 0.8316
Epoch 75/100
503/503 [==============================] - 3s 7ms/step - loss: 0.2540 - accuracy: 0.8923 - val_loss: 0.4243 - val_accuracy: 0.8352
Epoch 76/100
503/503 [==============================] - 3s 6ms/step - loss: 0.2553 - accuracy: 0.8923 - val_loss: 0.4257 - val_accuracy: 0.8352
Epoch 77/100
503/503 [==============================] - 4s 8ms/step - loss: 0.2557 - accuracy: 0.8915 - val_loss: 0.4282 - val_accuracy: 0.8405
Epoch 78/100
503/503 [==============================] - 4s 8ms/step - loss: 0.2555 - accuracy: 0.8909 - val_loss: 0.4297 - val_accuracy: 0.8263
Epoch 79/100
503/503 [==============================] - 4s 8ms/step - loss: 0.2532 - accuracy: 0.8955 - val_loss: 0.4308 - val_accuracy: 0.8316
Epoch 80/100
503/503 [==============================] - 3s 7ms/step - loss: 0.2525 - accuracy: 0.8925 - val_loss: 0.4311 - val_accuracy: 0.8352
Epoch 81/100
503/503 [==============================] - 3s 7ms/step - loss: 0.2516 - accuracy: 0.8955 - val_loss: 0.4384 - val_accuracy: 0.8332
Epoch 82/100
503/503 [==============================] - 3s 6ms/step - loss: 0.2521 - accuracy: 0.8961 - val_loss: 0.4278 - val_accuracy: 0.8328
Epoch 83/100
503/503 [==============================] - 3s 6ms/step - loss: 0.2505 - accuracy: 0.8957 - val_loss: 0.4324 - val_accuracy: 0.8344
Epoch 84/100
503/503 [==============================] - 3s 6ms/step - loss: 0.2485 - accuracy: 0.8965 - val_loss: 0.4373 - val_accuracy: 0.8288
Epoch 85/100
503/503 [==============================] - 3s 6ms/step - loss: 0.2515 - accuracy: 0.8951 - val_loss: 0.4399 - val_accuracy: 0.8227
Epoch 86/100
503/503 [==============================] - 3s 6ms/step - loss: 0.2478 - accuracy: 0.8933 - val_loss: 0.4356 - val_accuracy: 0.8247
Epoch 87/100
503/503 [==============================] - 3s 7ms/step - loss: 0.2482 - accuracy: 0.8947 - val_loss: 0.4430 - val_accuracy: 0.8380
Epoch 88/100
503/503 [==============================] - 3s 6ms/step - loss: 0.2472 - accuracy: 0.8961 - val_loss: 0.4390 - val_accuracy: 0.8255
Epoch 89/100
503/503 [==============================] - 3s 7ms/step - loss: 0.2458 - accuracy: 0.8965 - val_loss: 0.4497 - val_accuracy: 0.8231
Epoch 90/100
503/503 [==============================] - 5s 10ms/step - loss: 0.2470 - accuracy: 0.8991 - val_loss: 0.4392 - val_accuracy: 0.8332
Epoch 91/100
503/503 [==============================] - 4s 9ms/step - loss: 0.2438 - accuracy: 0.8981 - val_loss: 0.4427 - val_accuracy: 0.8300
Epoch 92/100
503/503 [==============================] - 4s 8ms/step - loss: 0.2439 - accuracy: 0.8953 - val_loss: 0.4478 - val_accuracy: 0.8389
Epoch 93/100
503/503 [==============================] - 4s 8ms/step - loss: 0.2446 - accuracy: 0.8993 - val_loss: 0.4543 - val_accuracy: 0.8316
Epoch 94/100
503/503 [==============================] - 5s 9ms/step - loss: 0.2416 - accuracy: 0.8981 - val_loss: 0.4450 - val_accuracy: 0.8267
Epoch 95/100
503/503 [==============================] - 4s 8ms/step - loss: 0.2439 - accuracy: 0.8985 - val_loss: 0.4511 - val_accuracy: 0.8332
Epoch 96/100
503/503 [==============================] - 4s 7ms/step - loss: 0.2422 - accuracy: 0.9023 - val_loss: 0.4506 - val_accuracy: 0.8324
Epoch 97/100
503/503 [==============================] - 4s 7ms/step - loss: 0.2393 - accuracy: 0.9011 - val_loss: 0.4625 - val_accuracy: 0.8360
Epoch 98/100
503/503 [==============================] - 4s 7ms/step - loss: 0.2413 - accuracy: 0.8975 - val_loss: 0.4509 - val_accuracy: 0.8284
Epoch 99/100
503/503 [==============================] - 4s 7ms/step - loss: 0.2425 - accuracy: 0.9023 - val_loss: 0.4575 - val_accuracy: 0.8271
Epoch 100/100
503/503 [==============================] - 5s 9ms/step - loss: 0.2394 - accuracy: 0.8989 - val_loss: 0.4718 - val_accuracy: 0.8243

In [58]:
# from sklearn.ensemble import RandomforestClassifire

In [59]:
y_pred=classifire.predict(X_test)

79/79 [==============================] - 1s 5ms/step

In [60]:
y_pred

array([[0.00183819],
       [0.5862606 ],
       [0.99976957],
       ...,
       [0.6883494 ],
       [0.04603062],
       [0.00316595]], dtype=float32)

In [61]:
for i in range(len(y_pred)):
    if y_pred[i] >0.5:
        y_pred[i]=1
    else:
        y_pred[i]=0

In [62]:
y_pred

array([[0.],
       [1.],
       [1.],
       ...,
       [1.],
       [0.],
       [0.]], dtype=float32)

In [65]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score
cm=confusion_matrix(y_test,y_pred)

In [64]:
cm

array([[1842,  156],
       [ 250,  252]], dtype=int64)

In [66]:
score=accuracy_score(y_test,y_pred)

In [67]:
score

0.8376

In [68]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.88      0.92      0.90      1998
           1       0.62      0.50      0.55       502

    accuracy                           0.84      2500
   macro avg       0.75      0.71      0.73      2500
weighted avg       0.83      0.84      0.83      2500

In [69]:
y_test.value_counts()

0    1998
1     502
Name: Exited, dtype: int64